@{
    ViewData["Title"] = "Home Page";
}


<style>
    .btn-status {
        font-size: 0.65rem;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="text-center">All User</h1>
    <div class="d-flex justify-content-end">
        <input type="text" placeholder="type here to search by Name, enter to search" class="form-control me-2 w-25" id="searchUser"/>
        <button type="button" class="btn btn-secondary" onclick="getAddnew()">Add new User</button>
    </div>
    <div class="container-fluid" id="UserTable"></div>
</div>
<div class="modal fade" id="editBox" tabindex="-1" aria-labelledby="editBox" aria-hidden="true"></div>
<script src="~/js/UserEdit/DisplayEditUser.js"></script>
<script>
$(document).ready(() => {
    window.onload = () =>  loadTable();
});
</script>