@{
    ViewData["Title"] = "Home Page";
}


<style>
    .btn-status {
        font-size: 0.65rem;
    }
    .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color: #FF3D00;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="text-center">All User</h1>
    <div class="d-flex justify-content-end">
        <input type="text" placeholder="type here to search by Name, enter to search" class="form-control me-2 w-25" id="searchUser"/>
        <button type="button" class="btn btn-secondary" onclick="getAddnew()">Add new User</button>
    </div>
    <div class="container-fluid" id="UserTable">
        <span class="loader"></span>
    </div>
</div>
<div class="modal fade" id="editBox" tabindex="-1" aria-labelledby="editBox" aria-hidden="true"></div>
<script src="~/js/UserEdit/DisplayEditUser.js"></script>
<script>
$(document).ready(() => {
    window.onload = () =>  loadTable();
});
</script>